{% extends 'layout.html' %}
{% block body %}
  <h3 class='text-center text-muted mb-3'>ShopBridge - Admin</h3>
  <p class='text-right'><a href='{{url_for("add_product_view")}}' class='btn btn-success '>+Add Product</a></p>
  <table class='table table-bordered'>
    <thead>
      <th>SNo.</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan='2'>Actions</th>
    </thead>
    <tbody>
      {% for prod in prods %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.description}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.quantity}}</td>
          <td><a href='{{url_for("update_product_view",pid=prod.pid)}}' class='btn btn-primary'>Edit</a></td>
          <td><a href='{{url_for("delete_product_view",pid=prod.pid)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}